<h2>    <%=mesaj%>  </h2>


    <div class="container">
      <div class="row ">

               

      </div>
    </div>
    
    <div class="panel panel-info">

      <div class="panel-heading">
      
        <div class="panel-title">Kayıt Ekranı</div>
      
      </div>
      
    <div class="panel-body">
     
     

      </div>
    
      <div class="panel-footer">
    
      </div>
    
    </div> 

    <label>İsim</label>
     <input type="text" id="fname" name="fname" ><br>
     <label>Soyim</label>
     <input type="text" id="fname" name="fname" ><br>